<ul class="nav nav-tabs">
    <li {|if $entry=='seoconf'|}class="active"{|/if|}>
        <a href="seoconf.html">SEO设置</a>
    </li>
    <li {|if $entry=='siteconf'|}class="active"{|/if|}>
        <a href="siteconf.html">基本信息设置</a>
    </li>
    <li {|if $entry=='uploadconf'|}class="active"{|/if|}>
        <a href="uploadconf.html">上传设置</a>
    </li>
    <li {|if $entry=='watermarkconf'|}class="active"{|/if|}>
        <a href="watermarkconf.html">水印设置</a>
    </li>
    <li {|if $entry=='mailconf'|}class="active"{|/if|}>
        <a href="mailconf.html">邮箱设置</a>
    </li>
    <li {|if $entry=='smsconf'|}class="active"{|/if|}>
        <a href="smsconf.html">短信设置</a>
    </li>
    <li {|if $entry=='payconf'|}class="active"{|/if|}>
        <a href="payconf.html">支付方式</a>
    </li>
</ul>