<!DOCTYPE html>
<html lang="en">
    <head>
        {|include 'common/header.html'|}
    </head>
    <body class="no-skin">
        {|include 'common/navbar.html'|}
        <div class="main-container" id="main-container">
            {|include 'common/sidebar.html' siderbar_license_id=$_use_id|}
            <div class="main-content">
                {|include 'common/breadcrumbs.html'|}
                <div class="page-content">
                    <div class="page-content-area">
                        <div class="page-header">
                            <h1>站点设置</h1>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="tabbable">
                                    {|include 'settings/subnav.html'|}
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active">
                                            <form class="form-horizontal" role="form" method="post">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label no-padding-right"> 允许上传附件大小 </label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="data[upsize]" value="{|$setting['upload']['upsize']|}" placeholder="允许上传附件大小" class="input-sm input-large" />
                                                        <span class="inline">
                                                            <span class="help-block">bit字节 1024字节=1K</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label no-padding-right"> 允许上传图片类型 </label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="data[up_image_type]" value="{|$setting['upload']['up_image_type']|}" placeholder="允许上传图片类型" class="input-sm input-large" />
                                                        <span class="inline">
                                                            <span class="help-block">允许上传的图片类型： 用 , 号分隔</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label no-padding-right"> 允许上传附件类型 </label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="data[up_soft_type]" value="{|$setting['upload']['up_soft_type']|}" placeholder="允许上传附件类型" class="input-sm input-large" />
                                                        <span class="inline">
                                                            <span class="help-block">允许上传附件类型： 用 , 号分隔</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label no-padding-right"> 允许上传媒体类型 </label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="data[up_media_type]" value="{|$setting['upload']['up_media_type']|}" placeholder="允许上传媒体类型" class="input-sm input-large" />
                                                        <span class="inline">
                                                            <span class="help-block">允许上传媒体类型： 用 , 号分隔</span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="clearfix form-actions">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button class="btn btn-info ajsubmit" type="button">
                                                            <i class="ace-icon fa fa-check bigger-110"></i> 提 交
                                                        </button>
                                                        &nbsp; &nbsp; &nbsp;
                                                        <button class="btn" type="reset">
                                                            <i class="ace-icon fa fa-undo bigger-110"></i> 重 置
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {|include 'common/footer.html'|}
        </div>

        <script type="text/javascript">
            jQuery(function ($) {

            });
        </script>
    </body>
</html>
