<!DOCTYPE html>
<html lang="en">
	<head>
        {|include 'common/header.html'|}
	</head>
	<body class="no-skin">
		{|include 'common/navbar.html'|}
		<div class="main-container" id="main-container">
			{|include 'common/sidebar.html' siderbar_license_id=$_use_id|}
			<div class="main-content">
				{|include 'common/breadcrumbs.html'|}
				<div class="page-content">
					<div class="page-content-area">
						<div class="page-header">
							<h1>呼叫参数设置</h1>
						</div>

						<div class="row">
							<div class="col-xs-12">
                                <form class="form-horizontal" role="form" method="post">
                                    <div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1"><i class="ace-icon fa fa-asterisk red2"></i> 通信服务器IP地址 </label>
										<div class="col-sm-9">
											<input type="text" name="data[call_server_ip]" value="{|$setting['callcenter']['call_server_ip']|}" placeholder="通信服务器IP地址" class="col-xs-10 col-sm-5" />
										</div>
									</div>
                                    
                                    <div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
											<button class="btn btn-info" type="submit">
												<i class="ace-icon fa fa-check bigger-110"></i>
												提 交
											</button>

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="ace-icon fa fa-undo bigger-110"></i>
												重 置
											</button>
										</div>
									</div>
                                </form>
							</div>
						</div>
					</div>
				</div>
			</div>
			{|include 'common/footer.html'|}
		</div>
        
		<script type="text/javascript">
			jQuery(function($) {
				
			});
		</script>
	</body>
</html>
