<!DOCTYPE html>
<html lang="en">
	<head>
        {|include 'common/header.html'|}
	</head>
	<body class="no-skin">
		{|include 'common/navbar.html'|}
		<div class="main-container" id="main-container">
			{|include 'common/sidebar.html'|}
			<div class="main-content">
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
					</script>
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="#">首页</a>
						</li>
						<li class="active">控制面板</li>
					</ul>
					<div class="nav-search" id="nav-search">
					</div>
				</div>
				<div class="page-content">
					<div class="page-content-area">
						<div class="page-header">
							<h1>控制面板</h1>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="alert alert-info hidden-sm hidden-xs">
									<button type="button" class="close" data-dismiss="alert">
										<i class="ace-icon fa fa-times"></i>
									</button>
									 欢迎登录企业营销呼叫平台
								</div>
								<div class="alert alert-info hidden-md hidden-lg">
									<button type="button" class="close" data-dismiss="alert">
										<i class="ace-icon fa fa-times"></i>
									</button>
									欢迎登录企业营销呼叫平台
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{|include 'common/footer.html'|}
		</div>
	</body>
</html>
